<!doctype html>
<html lang="en">
<head>
    <title>Material Design Lite</title>
{{template "meta.html" .}}
{{template "footer.html" .}}
</head>
<body>
<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Home1</span>
            <div class="mdl-layout-spacer"></div>
        </div>
    </header>

    {{template "left_menu.html" .}}

    <main class="mdl-layout__content mdl-color--grey-100">

    {{range $key, $val := .Page.DataTables}}
        <a class="mdl-navigation__link" href="/admin/page?pageId={{$val.Id}}">
            <i class="mdl-color-text--grey-50 material-icons" role="presentation">report</i>{{$val.Name}}
        </a>
    {{end}}

        <div class="mdl-grid demo-content">
            <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
                <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>{{ range .StatTable.ColumnNameArray }}
                        <th>{{ . }}</th>
                    {{ end }}
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <script type="application/javascript">
            $(document).ready(function() {
                $('#example').DataTable( {
                    columnDefs: [
                        {
                            targets: [ 0, 1, 2 ],
                            className: 'mdl-data-table__cell--non-numeric'
                        }
                    ]
                } );
            } );
        </script>

    </main>
</div>


</body>
</html>
