{{define "header.html"}}

<div id="navbar" class="navbar navbar-default          ace-save-state">
    <div class="navbar-container ace-save-state" id="navbar-container">
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
            <span class="sr-only">Toggle sidebar</span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>
        </button>

        <div class="navbar-header pull-left">
            <a href="/" class="navbar-brand">
                <small>
                    <i class="fa fa-leaf"></i>
                    {{.AppWebName}}
                </small>
            </a>
        </div>

        <div class="navbar-buttons navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">
                {{if .UserInfo }}
                <li class="light-blue dropdown-modal">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle" aria-expanded="true">
                        <span>欢迎用户登录 {{.UserInfo.Name}}</span>
                        <i class="ace-icon fa fa-caret-down"></i>
                    </a>
                    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close" style="width: 320px; left: 526px; right: auto; top: 132px;">
                        <li>
                            <a href="#"><i class="ace-icon fa fa-cog"></i>设置</a>
                        </li>
                        <li>
                            <a href="/admin/userInfo/profile"><i class="ace-icon fa fa-user"></i>个人信息</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:userLogout();"><i class="ace-icon fa fa-power-off"></i>退出</a>
                        </li>
                    </ul>
                </li>
                {{end}}
            </ul>
        </div>
    </div><!-- /.navbar-container -->
</div>

<script type="text/javascript">
    function userLogout() {
        $.post("/admin/userInfo/logout", $("#saveForm").serialize(),
            function(data){
                    console.log(data);
                    location.href = '/admin/userInfo/login';
            });
    }
</script>

{{end}}