{{define "left_menu.html"}}

        <div class="demo-drawer mdl-layout__drawer mdl-color--blue mdl-color-text--grey-50">
            <header class="demo-drawer-header">
                <img src="/static/img/user.jpg" class="demo-avatar">
                <div class="demo-avatar-dropdown">
                    <span>欢迎使用统计报表系统</span>
                    <div class="mdl-layout-spacer"></div>
                </div>
            </header>

            <nav class="demo-navigation mdl-navigation mdl-color--blue">
            {{range $key, $val := .PageList}}
                <a class="mdl-navigation__link" href="/admin/page?pageId={{$val.Id}}">
                    <i class="mdl-color-text--grey-50 material-icons" role="presentation">report</i>{{$val.Name}}
                </a>
            {{end}}
                <div class="mdl-layout-spacer"></div>
            </nav>
        </div>

{{end}}